/* Custom styles for the hero section */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-image: url('../images/vip-bodyguard-service-los-angeles.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-video {
    display: none; /* Hide the video element */
}
